<!DOCTYPE html>
<html lang="en">
  <%- include("../includes/head") %>
      <link rel="stylesheet" href="/styles/main.css">
      <link rel="stylesheet" href="/styles/home.css">
    <title>Home</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include("../includes/header", {title: "Personal Blog", admin: true}) %>

      <main class="main">
        <ul class="articles">
          <% articles.forEach(article => { %>
            <li class="articles_item article">
              <a href="/article/<%= article.id %>">
                <h3 class="article_title"><%= article.title %></h3>
              </a>
              <nav class="article_controls">
                <a class="article_control" data-method="delete" href="/admin/edit/<%= article.id %>">Edit</a>
                <a class="article_control" href="/admin/delete/<%= article.id %>">Delete</a>
              </nav>
            </li>
          <% }) %>
        </ul>
      </main>
    </div>
  </body>
</html>
