<!DOCTYPE html>
<html lang="en">
  <%- include("../includes/head") %>
      <link rel="stylesheet" href="/styles/main.css">
      <link rel="stylesheet" href="/styles/home.css">
    <title>Home</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include("../includes/header", {title: article.title, admin: true}) %>

      <form class="form" action="/admin/edit/<%= article.id %>" method="post">
        <input class="form_input" name="title" type="text" placeholder="Title" value="<%= article.title %>">

        <textarea class="form_input" name="text" placeholder="Content"><%= article.text %></textarea>

        <button class="form_btn" type="submit">Update</button>
      </form>
    </div>
  </body>
</html>
