<!DOCTYPE html>
<html>
  <%- include("../includes/head") %>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/article.css">
    <title><%= title %></title>
  </head>
  <body>
      <div class="wrapper">
        <%- include("../includes/header", {title: title}) %>

        <article class="article">
          <h1 class="article_date"><%= new Date(article.date).toLocaleDateString() %></h1>
          <p class="article_text"><%= article.text %></p>
        </article>
      </div>
  </body>
</html>
