<!DOCTYPE html>
<html lang="en">
  <%- include("../includes/head") %>
      <link rel="stylesheet" href="/styles/main.css">
      <link rel="stylesheet" href="/styles/home.css">
    <title>Home</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include("../includes/header", {title: "Personal Blog", mode: "Home"}) %>

      <main class="main">
        <ul class="articles">
          <% articles.forEach(article => { %>
            <li class="articles_item article">
              <a href="/article/<%= article.id %>">
                <h3 class="article_title"><%= article.title %></h3>
                <p class="article_date"><%= new Date(article.date).toLocaleDateString() %></p>
              </a>
            </li>
          <% }) %>
        </ul>
      </main>
    </div>
  </body>
</html>
